body {
  font-size: 14px;
}

header, main, footer {
  margin: 20px;
  padding: 10px;
  border: solid 5px #CCCCCC;
}

h1 { 
  color: green;
  background-color: lightpink;
  border: solid 5px #CCCCCC;
  text-align: center;
  width: 90vw;
  padding: 20px;
  margin: 20px;
  font-size: 5em; 
}
.contect {
  display: inline-block;
  width: 28%;
  height: 100%;
  border: solid 1px black;
  margin: 10px;
  padding: 5px;
}

article div::before {
  content: "[영화소개]";
  font-weight: 900;
  color: darkgreen;
}
article div::after {
  content: "[더보기]";
  font-style: italic;
}

a {
  text-decoration: none;
  color: darkred;
}

a:visited {
  color: orange;
}

a:hover {
  background-color: blue;
  color: white;
}

a:active {
  background-color: darkred;
  color: white;
}
